pipeline/SQL_to_BronzeZone.json
{
	"name": "SQL_to_BronzeZone",
	"properties": {
		"activities": [
			{
				"name": "Lkp-CC-SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM conf.ControlCargas\nWHERE Proceso = '@{pipeline().parameters.Proceso}'\nAND Subproceso = '@{pipeline().parameters.Subproceso}'\nAND SistemaFuente = '@{pipeline().parameters.SistemaFuente}'\nAND IndicadorCargaActiva= 1\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TimeNow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lkp-CC-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeNow",
					"value": {
						"value": "@{formatDateTime(subtractFromTime(utcNow(), 300, 'Minute'), 'yyyyMMddHHmmss')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-CC",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "TimeNow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp-CC-SQL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IsFull",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(item().IndicadorCargaFull)\n\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "UpdateCampoDelta_Delta",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Bronze_To_Silver_Deltas",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "UPDATE conf.ControlCargas set ValorCampoFechaCreacion = \nCASE WHEN ValorCampoFechaCreacion IS NOT NULL THEN '@{substring(variables('TimeNow'), 0, 8)}'\nELSE ValorCampoFechaCreacion END\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'\n\n\nUPDATE conf.ControlCargas set ValorCampoHoraCreacion = \nCASE WHEN ValorCampoHoraCreacion IS NOT NULL THEN '@{substring(variables('TimeNow'), 8, 6)}'\nELSE ValorCampoHoraCreacion END\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'\n\n\nUPDATE conf.ControlCargas set ValorCampoFechaModificacion = \nCASE WHEN ValorCampoFechaModificacion IS NOT NULL THEN '@{substring(variables('TimeNow'), 0, 8)}'\nELSE ValorCampoFechaModificacion END\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Copy_From_SAP_To_ADLS_Delta",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 1,
											"retryIntervalInSeconds": 45,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT @{item().ColumnasArchivoFuente}\nFROM\n@{item().EsquemaFuente}.@{item().ArchivoFuente}\n@{\nreplace(\n        replace(\n            replace(\n                        item().FiltrosArchivoFuenteParsed, '{variableDF1}', substring(variables('TimeNow'), 0, 8)\n            ), '{variableDF2}', substring(variables('TimeNow'), 8, 6)\n        ), '{variableDF3}', substring(variables('TimeNow'), 0, 8)\n)\n}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_DBV1",
												"type": "DatasetReference",
												"parameters": {
													"Schema": {
														"value": "@{item().EsquemaFuente}",
														"type": "Expression"
													},
													"Tabla": {
														"value": "@{item().ArchivoFuente}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS",
												"type": "DatasetReference",
												"parameters": {
													"Ruta": {
														"value": "@{item().RutaArchivoDestinoParsed}/@{variables('TimeNow')}",
														"type": "Expression"
													},
													"Archivo": {
														"value": "@item().ArchivoDestino",
														"type": "Expression"
													},
													"Container": {
														"value": "@item().ContenedorDestino",
														"type": "Expression"
													},
													"Extension": {
														"value": "@item().ExtensionArchivoDestino",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SP_Success_Delta",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "UpdateCampoDelta_Delta",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "1",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)\n\n",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure_Delta",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "UpdateCampoDelta_Delta",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Bronze_To_Silver_Deltas",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Copy_From_SAP_To_ADLS_Delta",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Bronze_to_Silver",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"is_full_load": {
													"value": "@{item().IndicadorCargaFull}",
													"type": "Expression"
												},
												"schema": {
													"value": "@{item().BaseDatosFuente}",
													"type": "Expression"
												},
												"table_name": {
													"value": "@{item().ArchivoFuente}",
													"type": "Expression"
												},
												"folder_date": {
													"value": "@variables('TimeNow')",
													"type": "Expression"
												},
												"RowKey": {
													"value": "@{item().NombreCampoRowKey}",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "SP_Failure_Delta_2",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Bronze_To_Silver_Deltas",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure_Delta_3",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_From_SAP_To_ADLS_Delta",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SP_Success",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "UpdateCampoDelta_Full",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "1",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": {
														"value": "@activity('Copy_From_SQL_To_ADLS_Full').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": {
														"value": "@activity('Copy_From_SQL_To_ADLS_Full').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SQL_To_ADLS_Full').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": {
														"value": "@activity('Copy_From_SQL_To_ADLS_Full').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "UpdateCampoDelta_Full",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SQL_To_ADLS_Full').output)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Copy_From_SQL_To_ADLS_Full",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 1,
											"retryIntervalInSeconds": 45,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_DBV1",
												"type": "DatasetReference",
												"parameters": {
													"Schema": {
														"value": "@{item().EsquemaFuente}",
														"type": "Expression"
													},
													"Tabla": {
														"value": "@{item().ArchivoFuente}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS",
												"type": "DatasetReference",
												"parameters": {
													"Ruta": {
														"value": "@item().RutaArchivoDestinoParsed",
														"type": "Expression"
													},
													"Archivo": {
														"value": "@item().ArchivoDestino",
														"type": "Expression"
													},
													"Container": {
														"value": "@item().ContenedorDestino",
														"type": "Expression"
													},
													"Extension": {
														"value": "@item().ExtensionArchivoDestino",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Bronze_To_Silver_Full",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Copy_From_SQL_To_ADLS_Full",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Bronze_to_Silver",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"is_full_load": {
													"value": "@{item().IndicadorCargaFull}",
													"type": "Expression"
												},
												"schema": {
													"value": "@{item().BaseDatosFuente}",
													"type": "Expression"
												},
												"table_name": {
													"value": "@{item().ArchivoFuente}",
													"type": "Expression"
												},
												"folder_date": "No aplica",
												"RowKey": {
													"value": "@{item().NombreCampoRowKey}",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "UpdateCampoDelta_Full",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Bronze_To_Silver_Full",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "UPDATE conf.ControlCargas set ValorCampoFechaCreacion = \nCASE WHEN CampoFechaCreacion IS NOT NULL THEN '@{substring(variables('TimeNow'), 0, 8)}'\nELSE ValorCampoFechaCreacion END\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'\n\n\nUPDATE conf.ControlCargas set ValorCampoHoraCreacion = \nCASE WHEN CampoHoraCreacion IS NOT NULL THEN '@{substring(variables('TimeNow'), 8, 6)}'\nELSE ValorCampoHoraCreacion END\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'\n\n\nUPDATE conf.ControlCargas set ValorCampoFechaModificacion = \nCASE WHEN CampoFechaModificacion IS NOT NULL THEN '@{substring(variables('TimeNow'), 0, 8)}'\nELSE ValorCampoFechaModificacion END\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "SP_Failure_2",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Bronze_To_Silver_Full",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SQL_To_ADLS_Full').output)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure_3",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_From_SQL_To_ADLS_Full",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SQL_To_ADLS_Full').output)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@addhours(pipeline().TriggerTime,-5)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_CC",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Proceso": {
				"type": "string",
				"defaultValue": "Comercial"
			},
			"SistemaFuente": {
				"type": "string",
				"defaultValue": "SQL_DBV1"
			},
			"Subproceso": {
				"type": "string",
				"defaultValue": "Subpr_3"
			}
		},
		"variables": {
			"TimeNow": {
				"type": "String"
			},
			"TimeSql": {
				"type": "String"
			}
		},
		"folder": {
			"name": "1. BRONZE/Maestro Cargas"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-11T19:08:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}